repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: check-builtin-literals
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-toml
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://github.com/psf/black
  rev: 22.10.0
  hooks:
  - id: black

- repo: https://github.com/PyCQA/isort
  rev: 5.12.0
  hooks:
  - id: isort
    args: ["-a", "from __future__ import annotations"]
    exclude: ^tests/integration/.*/src/.*pyx$

- repo: https://github.com/PyCQA/flake8
  rev: 5.0.4
  hooks:
  - id: flake8
    args: ["--max-line-length", "88"]

- repo: local
  hooks:
  - id: mypy
    name: mypy
    language: python
    additional_dependencies: ["mypy"]
    entry: "mypy"
    files: "\\.py$"
    require_serial: true
    verbose: true
